{% extends "form_layout.html" %}
{% load crispy_forms_tags %}
{% block top_title %}
بازیابی رمز عبور
{% endblock top_title %}

{% block form_title %}
ایمیل خود را وارد کنید
{% endblock form_title %}

{% block form_content %}
<form action="" method="post">
    {% csrf_token %}
  <div class="form-group text-right">
    {{form|crispy}}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block enter-btn">بررسی شود</button>
  </div>
  
  <p class="sign-up">آیا از ادامه مسیر منصرف شده اید؟ بازگشت به صفحه<a href="{% url "login" %}"> ورود</a> </p>
</form>

{% endblock form_content %}
