{% extends "form_layout.html" %}
{% load crispy_forms_tags %}
{% block top_title %}
تغییر رمز عبور
{% endblock top_title %}

{% block form_title %}
تغییر رمز عبور با موفقیت انجام شد
{% endblock form_title %}

{% block form_content %}
<h3 class="text-right">
    .رمز عبور تغییر یافت
</h3>
<h3 class="text-right">
    .ایمیل ارسال شد
</h3>
<h3 class="text-right">
    .ایمیل خود را چک کنید
</h3>
<p class="sign-up">آیا می خواهید یه صفحه <a href="{% url "login" %}"> ورود</a> روید </p>
{% endblock form_content %}

