{% extends "form_layout.html" %}
{% load crispy_forms_tags %}
{% block top_title %}
تغییر رمز عبور
{% endblock top_title %}

{% block form_title %}
رمز عبور خود را تغییر دهید
{% endblock form_title %}

{% block form_content %}
<form action="" method="post">
    {% csrf_token %}
  <div class="form-group text-right">
    {{form|crispy}}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block enter-btn">ثبت</button>
  </div>
  
  <p class="sign-up">آیا حساب کاربری ندارید؟<a href="{% url "register" %}"> ثبت نام</a> کنید </p>
</form>

{% endblock form_content %}


