{% extends "dashboard_layout.html" %} 
{% load jformat %}
{% load module_tags %}
{% block title %}لیست تراکنش های من{% endblock title %} 
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body text-right">
      <h4 class="card-title text-right">جدول تراکنش ها</h4>
      <div class="table-responsive" style="direction:rtl;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>شناسه</th>
              <th>فاکتور</th>
              <th>کد رهگیری</th>
              <th>مبلغ</th>
              <th>تاریخ ثبت</th>
              <th>وضعیت</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td>{{transaction.id}}</td>
              <td>{{transaction.order}}</td>
              <td>{{transaction.tracking_code}}</td>
              <td>{{transaction.amount}} تومان</td>
              <td>{{transaction.update_at|jformat:"%d %m %Y"}}</td>
              <td>
                {% if transaction.status == 'Complete'  %}
                <span class="badge badge-success">تراکنش موفق</span>
                {% else %}
                <span class="badge badge-danger">تراکنش نا موفق</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div>
        <ul class="d-flex flex-row-reverse list-unstyled justify-content-center pt-4">
            {% if transactions.has_previous %}
                <li><a class="btn btn-success" href="{% url 'dashboard_transaction' %}?page={{transactions.previous_page_number}}">صفحه قبل</a></li>
            {% else %}
                <li><a class="btn btn-secondary">صفحه قبل</a></li>
            {% endif %}
            <li class="btn btransaction mx-2">{{ transactions.number }}</li>
            {% if transactions.has_next %}
            <li><a class="btn btn-success" href="{% url 'dashboard_transaction' %}?page={{transactions.next_page_number}}">صفحه بعد</a></li>
            {% else %}
            <li><a class="btn btn-secondary">صفحه بعد</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
