{% extends "dashboard_layout.html" %}
{% load crispy_forms_tags %} 
{% block title %}افزودن مقاله جدید{%endblock title %} 
{% block content %}
<div class="col-12 grid-margin stretch-card" style="direction:rtl;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-right">افزودن مقاله</h4>
      <form class="forms-sample" action="{% url "dashboard_blog_add" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group text-right">
            {{form|crispy}}
        </div>
        <button type="submit" class="btn btn-success">ثبت</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
