{% extends "public_layout.html" %}
{% load static %}
{% load module_tags %}
{% block title %} به سایت فروش کتاب خوش آمدید{% endblock title %}

{% block content %}


<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>کتابهای برجسته</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            {% for book in top_ten_books %}
            <div class="swiper-slide box">
                <div class="icons">
                    {% if book.book_favorite.all.0.user == user  %}
                    <a href="{% url "change_favorite_state" book.id %}" class="fas fa-heart favorite"></a>
                    {% else %}
                    <a href="{% url "change_favorite_state" book.id %}" class="fas fa-heart"></a>
                    {% endif %}
                    <a href="{% url "book_detail" book.id %}" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{book.cover.url}}" alt="{{book.title}}">
                </div>
                <div class="content">
                    <h3>{{book.title}}</h3>
                    {% if book.discount %}
                    <div class="price">{{book.price|mines_two_number:book.discount.price}} تومان <span>{{book.price}} تومان</span></div>
                    {% else %}
                    <div class="price">{{book.price}} تومان </div>
                    {% endif %}
                    <a href="{% url "session" book.id 'add' %}" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- featured section ends -->

<!-- newsletter section starts -->

<section class="newsletter">

    <form action="{% url "book_home" %}" method="post">
        {% csrf_token %}
        <h3>برای آخرین به روز رسانی مشترک شوید</h3>
        <input type="email" name="email" placeholder="ایمیل خود را وارد کنید" id="" class="box">
        <input type="submit" value="عضویت" class="btn">
    </form>

</section>

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>کتابهای جدید</span> </h1>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">
            {% for book in new_top_books %}
            <a href="{% url "book_detail" book.id %}" class="swiper-slide box">
                <div class="image">
                    <img src="{{book.cover.url}}" alt="{{book.title}}">
                </div>
                <div class="content">
                    <h3>{{book.title}}</h3>
                    {% if book.discount %}
                    <div class="price">{{book.price|mines_two_number:book.discount.price}} تومان <span>{{book.price}} تومان</span></div>
                    {% else %}
                    <div class="price">{{book.price}} تومان </div>
                    {% endif %}
                    <div class="stars">
                        {% for number in book.star|create_list %}
                        <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            {% for book in new_bottom_books %}
            <a href="{% url "book_detail" book.id %}" class="swiper-slide box">
                <div class="image">
                    <img src="{{book.cover.url}}" alt="{{book.title}}">
                </div>
                <div class="content">
                    <h3>{{book.title}}</h3>
                    {% if book.discount %}
                    <div class="price">{{book.price|mines_two_number:book.discount.price}} تومان <span>{{book.price}} تومان</span></div>
                    {% else %}
                    <div class="price">{{book.price}} تومان </div>
                    {% endif %}
                    <div class="stars">
                        {% for number in book.star|create_list %}
                        <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>

    </div>

</section>

<!-- arrivals section ends -->

<!-- deal section starts  -->

<section class="deal">

    <div class="content">
        <h3>معامله روز</h3>
        <h1>تا 50٪ تخفیف</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
        <a href="{% url "book_search" %}" class="btn">اکنون خرید کنید</a>
    </div>

    <div class="image">
        <img src="{% static "public/image/deal-img.jpg" %}" alt="">
    </div>

</section>

<!-- deal section ends -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading"> <span>نظرات مشتریان</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">
            {% for comment in new_comments %}
            <div class="swiper-slide box">
                <img src="{{comment.user.profile_picture.url}}" alt="{{comment.user.username}}">
                <h3>{{comment.user.username}}</h3>
                <p>{{comment.text|truncatewords:20}}</p>
                <div class="stars">
                    {% for number in comment.star|create_list %}
                    <i class="fas fa-star"></i>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    
</section>

<!-- reviews section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> <span>وبلاگ</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">
            {% for weblog in new_weblogs %}
            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{weblog.image.url}}" alt="{{weblog.title}}">
                </div>
                <div class="content">
                    <h3>{{weblog.title}}</h3>
                    <p>{{weblog.text|truncatewords:20}} </p>
                    <a href="{% url "weblog_detail" weblog.id %}" class="btn">مطالعه بیشتر</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</section>

<!-- blogs section ends -->
{% endblock content %}