{% extends "public_layout.html" %}
{% load static %}
{% load jformat %}
{% block title %}{{weblog.title}}{% endblock title %}

{% block content %}
<section class="deal">
    <div class="content">
        <img style="float: left; width: 50%; border-radius: 50px; margin: 60px 20px 0;" src="{% static "public/image/blog-1.jpg" %}" alt="">
        <h3>{{weblog.title}}</h3>
        <h2 class="my-2"><span class="text-muted">نویسنده: </span>{{weblog.author}}</h2>
        <h2 class="my-2">
            <span class="text-muted">تاریخ ساخت: </span>
            <span class="text-muted">ساعت </span>{{weblog.datetime_created|jformat:"%H"}}
            <span class="text-muted">و </span>{{weblog.datetime_created|jformat:"%M"}} دقیقه
            <span class="text-muted">روز </span>{{weblog.datetime_created|jformat:"%d"}}
            <span class="text-muted">ماه </span>{{weblog.datetime_created|jformat:"%m"}}
            <span class="text-muted">سال </span>{{weblog.datetime_created|jformat:"%Y"}}
        </h2>
        <h2 class="my-2">
            <span class="text-muted">تاریخ ویرایش: </span>
            <span class="text-muted">ساعت </span>{{weblog.datetime_modified|jformat:"%H"}}
            <span class="text-muted">و </span>{{weblog.datetime_modified|jformat:"%M"}} دقیقه
            <span class="text-muted">روز </span>{{weblog.datetime_modified|jformat:"%d"}}
            <span class="text-muted">ماه </span>{{weblog.datetime_modified|jformat:"%m"}}
            <span class="text-muted">سال </span>{{weblog.datetime_modified|jformat:"%Y"}}
        </h2>
        <p style="text-align: justify;">{{weblog.text}}</p>
    </div>


</section>
            
{% endblock content %}